body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

img {
  vertical-align: bottom;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.default-color {
  color: #333;
}

.color-white {
  color: #fff;
}

.back-green {
  background-color: #74cfae;
}

.back-gray {
  background-color: #f2f2f2;
}

.back-blackgray {
  background-color: #4e4e4e;
}

.line-height {
  line-height: 22px;
}

.auto {
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

.title-font {
  font-size: 24px;
}

.inner {
  width: 97%;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas.fa-bolt {
  font-size: 35px;
  color: #4e4e4e;
}

.header-btn {
  padding: 14px 12px;
  font-size: 12px;
  transition: 0.3s;
}

.header-btn:hover {
  color: #333;
}

.main {
  width: 100%;
  padding-top: 70px;
}

.title-text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.our-latest-inner {
  padding: 60px 0 70px 0;
}

.our-latest-content {
  opacity: 0.7;
  transition: 0.3s;
}

.our-latest-content:hover {
  opacity: 1.0;
}

.our-latest-btn:hover {
  color: #333;
}

.our-skills-inner {
  padding: 70px 0 100px;
}

.our-skills-text{
  font-size: 16px;
  margin-top: 20px;
}

.sns-box:hover {
  background-color: #fff;
}

.font {
  color: #74cfae;
  font-size: 40px;
}

.footer-inner {
  padding: 20px 0 25px;
}

.footer-text {
  float: right;
}

@media screen and (min-width:1200px) {

.inner {
  width: 1100px;
}

.title-inner {
  padding: 250px 0;
}

.title-name {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.ham {
  display: none;
}

.can-do-inner {
  padding-top: 50px;
  display: flex;
  width: 67%;
}

.can-do-right {
  margin-left: 110px;
}

.can-do-text {
  font-size: 20px;
  margin-top: 35px;
}

.our-latest-lists {
  margin: 40px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-latest-list {
  margin: 80px 0 0 100px;
}

.our-latest-list:nth-child(3n+1) {
  margin-left: 0;
}

.our-latest-list:nth-child(-n+3) {
  margin-top: 0;
}

.our-latest-box {
  width: 63%;
  display: flex;
  align-items: center;
}

.our-latest-btn {
  padding: 17px 20px;
  font-size: 12px;
  width: 20%;
  transition: 0.3s;
  margin-left: 90px;
}

.our-skills-flex {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.our-skills-data {
  margin-left: 180px;
}

.our-skills-data:first-child {
  margin-left: 0;
}

.sns-inner {
  padding: 200px 0 200px;
}

.sns-boxes {
  display: flex;
  justify-content: center;
}

.sns-box {
  width: 185px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

}

@media only screen and (min-width:768px) and (max-width:1199px) {

.title-inner {
  padding: 250px 0;
}

.title-name {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.ham {
  display: none;
}

.can-do-inner {
  padding: 50px 0 25px;
}

.can-do-left {
  text-align: center;
}

.can-do-right {
  margin-top: 20px;
}

.can-do-text {
  margin: 35px auto 0;
}

.our-latest-lists {
  width: 300px;
  margin: 40px auto 0;
}

.our-latest-list:nth-child(3n+1) {
  margin-top: 80px;
}

.our-latest-text {
  margin-top: 80px;
}

.our-latest-btn {
  padding: 13px 20px;
  font-size: 13px;
  transition: 0.3s;
  display: block;
  width: 60px;
  margin: 40px auto 0;
}

.our-skills-flex{
  margin-top: 40px;
}

.our-skills-data {
  margin-top: 88px;
}

.our-skills-data:first-child {
  margin-top: 0;
}

.sns-inner {
  padding: 200px 0;
}

.sns-boxes {
  display: flex;
  justify-content: center;
}

.sns-box {
  width: 185px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

}

@media screen and (max-width:767px) {

.title-inner {
  padding: 160px 0 130px;
}

.title-name {
  color: #74cfae;
  font-size: 80px;
  font-weight: 700;
}

.header-btn {
  display: none;
}

.ham {
  width: 40px;
  height: 40px;
  border: solid 1px #ddd;
  border-radius: 4px;
}

.ham_line {
  display: block;
  width: 20px;
  margin: 9px auto 0;
  border: 1px solid #ddd;
}

.can-do-inner {
  padding: 50px 0 30px;
}

.can-do-left {
  text-align: center;
}

.can-do-right {
  margin-top: 20px;
}

.can-do-text {
  margin: 35px auto 0;
  font-size: 18px;
}

.our-latest-lists {
  width: 300px;
  margin: 40px auto 0;
}

.our-latest-list:nth-child(3n+1) {
  margin-top: 80px;
}

.our-latest-text {
  margin-top: 80px;
}

.our-latest-btn {
  padding: 12px 20px;
  font-size: 16px;
  transition: 0.3s;
  display: block;
  width: 100px;
  margin: 40px auto 0;
}

.our-skills-data {
  margin-top: 88px;
}

.our-skills-data:first-child{
  margin-top: 40px;
}

.sns-inner {
  padding: 50px 0 100px;
}

.sns-box {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

}