body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

img {
  vertical-align: bottom;
}

.raleway{
  font-family: 'Raleway', sans-serif;
}

.default-color{
  color: 	#333;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas.fa-bolt {
  font-size: 35px;
  color: #4e4e4e;
}

.header-btn {
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.header-btn:hover {
  color: #333;
}

.main {
  width: 100%;
  padding-top: 70px;
}

.title {
  background-color:  #f2f2f2;;
}

.title-text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.can-do {
  background-color: #74cfae;
}

.can-do-title {
  font-size: 24px;
}

.our-latest {
  background-color: #f2f2f2;
}

.our-latest-inner {
  padding: 60px 0 70px 0;
}

.our-latest-title {
  text-align: center;
  font-size: 24px;
}

.our-latest-content {
  opacity: 0.7;
  transition: 0.3s;
}

.our-latest-content:hover {
  opacity: 1.0;
}

.our-latest-btn:hover {
  color: #333;
}

.our-skills {
  background-color: #4e4e4e;
}

.our-skills-inner {
  padding: 70px 0 100px 0;
}

.our-skills-data {
  text-align: center;
}

.our-skills-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.our-skills-text{
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.sns {
  background-color: #f2f2f2;
}

.sns-box:hover {
  background-color: #fff;
}

.font {
  color: #74cfae;
  font-size: 40px;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  color: #fff;
  text-align: end;
}

@media screen and (min-width:1200px) {

.inner {
  margin: auto;
  width: 1100px;
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.title-name {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.ham {
  display: none;
}

.can-do-inner {
  padding-top: 50px;
  display: flex;
  width: 67%;
}

.can-do-right {
  color: #fff;
  text-align: center;
  margin-left: 110px;
}

.can-do-text {
  font-size: 20px;
  margin-top: 35px;
  line-height: 23px;
}

.our-latest-lists {
  margin: 40px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-latest-list {
  margin: 80px 0 0 100px;
}

.our-latest-list:nth-child(3n+1) {
  margin-left: 0;
}

.our-latest-list:nth-child(-n+3) {
  margin-top: 0;
}

.our-latest-box {
  text-align: center;
  width: 63%;
  margin: auto;
  display: flex;
  align-items: center;
}

.our-latest-btn {
  padding: 17px 20px;
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  width: 20%;
  transition: 0.3s;
  margin-left: 90px;
}

.our-skills-flex {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.our-skills-data {
  margin-left: 180px;
}

.our-skills-data:first-child {
  margin-left: 0;
}

.sns-inner {
  padding: 200px 0 200px 0;
}

.sns-boxes {
  display: flex;
  justify-content: center;
}

.sns-box {
  width: 185px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
}

@media only screen and (min-width:768px) and (max-width:1199px) {

.inner {
  margin: auto;
  width: 97%;
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.title-name {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.ham {
  display: none;
}

.can-do-inner {
  padding: 50px 0 25px 0;
}

.can-do-left {
  text-align: center;
}

.can-do-right {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.can-do-text {
  margin: auto;
  margin-top: 35px;
  line-height: 23px;
}

.our-latest-lists {
  width: 300px;
  margin: 40px auto 0;
}

.our-latest-list:nth-child(3n+1) {
  margin-top: 80px;
}

.our-latest-box {
  text-align: center;
  margin: auto;
}

.our-latest-text {
  margin-top: 80px;
  line-height: 22px;
}

.our-latest-btn {
  padding: 13px 20px;
  font-size: 13px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
  display: block;
  width: 60px;
  margin: 40px auto 0;
}

.our-skills-flex{
  margin-top: 40px;
}

.our-skills-data {
  margin-top: 88px;
}

.our-skills-data:first-child {
  margin-top: 0;
}

.sns-inner {
  padding: 200px 0 200px 0;
}

.sns-boxes {
  display: flex;
  justify-content: center;
}

.sns-box {
  width: 185px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
}

@media screen and (max-width:767px) {

.inner {
  margin: auto;
  width: 97%;
}

.title-inner {
  padding: 160px 0 130px 0;
  text-align: center;
}

.title-name {
  color: #74cfae;
  font-size: 80px;
  font-weight: 700;
}

.header-btn {
  display: none;
}

.ham {
  position: relative;
  width: 40px;
  height: 40px;
  border: solid 1px #ddd;
  border-radius: 4px;
}

.ham_line {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: #ddd;
  box-sizing: border-box;
}

.top {
  top: 10px;
}

.center {
  top: 18px;
}

.bottom {
  top: 26px;
}

.can-do-inner {
  padding: 50px 0 30px 0;
}

.can-do-left {
  text-align: center;
}

.can-do-right {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.can-do-text {
  margin: 35px auto 0;
  line-height: 23px;
  font-size: 18px;
}

.our-latest-lists {
  width: 300px;
  margin: 40px auto 0;
}

.our-latest-list:nth-child(3n+1) {
  margin-top: 80px;
}

.our-latest-box {
  text-align: center;
  margin: auto;
}

.our-latest-text {
  margin-top: 80px;
  line-height: 22px;
}

.our-latest-btn {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
  display: block;
  width: 100px;
  margin: 40px auto 0;
}

.our-skills-data {
  margin-top: 88px;
}

.our-skills-data:first-child{
  margin-top: 40px;
}

.sns-inner {
  padding: 50px 0 100px 0;
}

.sns-box {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
}